@media screen and (max-width: 1600px){
	html{
        font-size: 8px;
    }
    .header{
        padding-top: 70px;
    }
    .header__inner{
       margin-left: 7%
    }
    .header__name{
    }
    .header__title{
        margin-bottom: 20px;
    }
    .header__sale{
        width: 25.2rem;
        margin: 0 auto;
    }
    .header__sale img{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .header__inner{
        margin: 0 auto;
    }
    .header{
        padding-top: 40px;
    }
    .header__title{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 576px){
    html{
        font-size: 7px;
    }
    .header__inner{
        width:40rem;
        height: 40rem;
    }
    .header__title{
        font-size: 4rem;
    }
    .phone{
        margin-bottom: 20px;
    }
}
